:root{
    --maingreey: #656293;
    --maintextcolor: #181818;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    font-family: 'Poppins', sans-serif;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
.conteiner{
    margin: 20px 165px;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;}
/* .background{
    width: 100%;
    height: 100vh;
    border: 1px solid black;} */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    width: 55%;
    margin-left: 100px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: var(--maintextcolor);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    margin-left: 20px;
}
.nav-btn{
    margin-left: 20px;
    width: 93px;
    height: 31px;
    background: var(--maingreey);
    border-radius: 5px;
    color: white;}
.home-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin: 83px 165px;}
.main-left h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    color: var(--maintextcolor);
    margin-bottom: 48px;}
.main-left span{
    color: var(--maingreey);}
.main-left p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--maintextcolor);}
